  <br/>
  <div class="container">
    <h2>Current Guests</h2>
    <br />
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-12">
  
        <div class="guests" *ngIf="guestsList ">
        <!-- Add logic for no available lists at this time with add a guest button  -->
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr class="h">
                <th class="h">Name</th>
                <th class="h">No. of Nights</th>
                <th class="h">Room No.</th>
                <th class="h">Room Size</th>
                <th class="h">Date</th>
                <th class="h">Payment</th>
                <th class="h">Status</th>
                <th class="h">Options</th>
              </tr>
            </thead>
            <caption>Check Out or Update Info</caption>
            <tbody>
                <!-- <ng-container *ngIf="!editGuests.includes(guest) && guest.status != 'Checked Out'; else editG"> -->
              <!-- when you double clicked the row -->
              <tr class="guest" (dblclick)="editGuest(guest)" *ngFor="let guest of guestsList">
                  <!-- swaps row in and out with the form rows -->
                  <!-- is the object match what is in the edit array show the data to allow editing -->
                  <!-- if it's not there it is NOT to be edited -->
                <ng-container *ngIf="guest.status != 'Checked Out'">
                  <ng-container *ngIf="!editGuests.includes(guest); else editG"> 
                 
                  <td>{{guest.name}}</td>
                  <td>{{guest.numNight}}</td>
                  <td>{{guest.roomNum}}</td>
                  <td>{{guest.roomSize}}</td>
                  <td>{{guest.date | date}}</td>
                  <td>{{guest.payment}}</td>
                  <td>{{guest.status}}</td>
                </ng-container>
  
                <ng-template #editG>
                  <td><input type="text" name="name" id="name" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.name"
                      placeholder="Name" class="form-control"></td>
                  <td><input type="text" name="numNight" id="numNight" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.numNight"
                        placeholder="No. of Nights" class="form-control"></td>
                  <td><input type="text" name="roomNum" id="roomNum" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.roomNum"
                          placeholder="Room No." class="form-control"></td>      
                  <td><input type="text" name="roomSize" id="roomSize" (keypress)="submitGuest($event, guest)"
                      [(ngModel)]="guest.roomSize" placeholder="Room Size" class="form-control"></td>
                  <td>{{guest.date | date}}</td>
                  <td><input type="text" name="payment" id="payment" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.payment"
                    placeholder="Payment" class="form-control"></td>
                  <td>
                    <input type="text" name="status" id="status" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.status"
                      placeholder="Status" class="form-control">
                  </td>
                </ng-template>
  
                <td class="o">
                  <button class="btn btn-danger" (click)="checkOutGuest(guest)">
                    <i class="fa fa-check"></i>
                  </button> 
                  <button class="btn btn-primary" (click)="editGuest(guest)">
                    <i class="fa fa-pencil"></i>
                  </button>
                </td>
            </ng-container>
  
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-1"></div>
  
    </div>
  </div>
